# Python
__pycache__/
*.pyc
.env
*.pkl
venv/
.venv/

# Flutter
sgap_app/build/
sgap_app/.dart_tool/
sgap_app/.flutter-plugins
sgap_app/.flutter-plugins-dependencies
sgap_app/.packages
*.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
